<%= form_with model: @flat, class: "my-4" do |f| %>
  <div class="form-group>
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", placeholder: "Enter name" %>
  </div>
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control", placeholder: "Enter address" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control", placeholder: "Enter description", rows: 5 %>
  </div>
  <div class="form-group">
    <%= f.label :price_per_night %>
    <%= f.number_field :price_per_night, class: "form-control", placeholder: "Enter price per night" %>
  </div>
  <div class="form-group">
    <%= f.label :number_of_guests %>
    <%= f.number_field :number_of_guests, class: "form-control", placeholder: "Enter number of guests" %>
  </div>
  <div class="form-group">
    <%= f.submit "Save", class: "btn btn-primary btn-block mt-3" %>
  </div>
<% end %>
